{
    "presets": [
        "react",
        "env",
        "stage-0"
    ],
    "plugins": [
        "syntax-dynamic-import",
        [
            "import-inspector", 
            {
                "serverSideRequirePath": true
            }
        ],
        ["import", { "libraryName": "antd", "libraryDirectory": "lib", "style": "css" }]
    ]
}