::-webkit-input-placeholder 
    color: #ddd
:-moz-placeholder 
    color: #ddd
::-moz-placeholder 
    color: #ddd
:-ms-input-placeholder 
    color: #ddd
    
a
    color: inherit
    &:hover
        color: inherit

.icon
    display: inline-block

.el-checkbox__inner:hover
    border-color: #e22828

.el-button:focus, .el-button:hover, .el-button:active
    color: #e22828;
    border-color: #e22828;

.el-button--primary
    border-color: #e22828
    background-color: #e22828
    &:hover
        border-color: #bf000b
        background-color: #bf000b
        color: #fff
    &:active
        border-color: #e22828
        background: #e22828
        color: #fff
    &:focus
        background: #fff

.el-select-dropdown__item.selected.hover
    background-color: #bf000b
.el-select-dropdown__item.selected
    background-color: #e22828
.el-select .el-input__inner:focus
    border-color: #e22828
.el-switch__input:checked+.el-switch__core
    border-color: #e22828
    background-color: #e22828