.gridHeader
    .title
        font-size: 16px
        font-weight: bold
        padding: 10px 0
    .btnWrap
        border: 1px solid #dfdfdf
        border-bottom: 0 none
        padding: 5px 8px
        clear: both
        .ui-btn
            margin-right: 10px
            float: left
        .el-select
            float: left
            margin-right: 10px
            .el-input__inner
                height: 30px

.el-checkbox__input.is-checked .el-checkbox__inner
    background: #e22828
    border-color: @background
