body
    background: #fafafb

.lt-header
    height: 56px
    line-height: @height
    background: #fff
    // background: linear-gradient(to bottom, #d71724, #ca1622)
    border-bottom: 1px solid #f1efef
    color: #fff
    position: fixed
    z-index: 2
    top: 0
    left: 0
    right: 0

    .main
        min-width: 1166px
        clear: both
    
    .logo
        height: 57px
        margin-bottom: -1px
        width: 188px
        float: left
        text-align: center
        font-size: 18px
        cursor: pointer
        background: #192954 url(../img/logo.png)
    
    .nav
        float: left
        li
            float: left
            padding: 0 30px
            cursor: pointer
            a
                color: #555
            &.on, &:hover
                border-bottom: 2px solid  #55a8fd

    .fn-right
        position: relative
        cursor: pointer
        margin-right: 25px

        .list
            position: absolute
            background: #fff
            border: 1px solid #e3e3e3
            color: #4e4e4e
            box-shadow: 0 3px 4px #ddd
            right: -20px
            min-width: 155px
            div
                height: 30px
                line-height: @height
                padding: 0 20px
                &:hover
                    background: #e7e7e7

.lt-footer
    height: 96px
    line-height: @height
    text-align: center
    background: #2e3033
    position: fixed
    bottom: 0
    left: 0
    right: 0

.lt-main
    position: absolute
    z-index: 1
    top: 56px
    bottom: 96px
    left: 0
    right: 0
    overflow-y: auto
    background: #fff
    min-width: 1166px
    box-sizing: border-box
    display: flex

    .lt-left
        width: 188px
        height: 100%
        box-sizing: border-box
        font-size: 14px
        background: #192954
        padding: 10px 0 0
        .menu
            background: #192954
            .el-menu-item, .el-submenu__title
                height: 42px
                line-height: @height
                color: #fff
                &:hover
                    background: #55a8fd
            .el-submenu
                .el-menu
                    background: #0f2047
                .el-menu-item
                    color: #fff
                    &:hover
                        background: #55a8fd

    .lt-right
        height: 100%
        float: right 
        box-sizing: border-box 
        flex: 1
        min-width: 870px
        overflow: hidden

        .main
            padding: 0 10px
            box-sizing: border-box
            
            .el-pagination
                padding: 20px 0