html, body, #app
    height: 100%

header[class^='lt-']
    clear: both
    padding: 10px 30px
    box-shadow: 0 1px 4px #eee;

    .logo
        float: left
        text-indent: -999em
        width: 104px
        height: 26px
        background: url(../img/logo.png) no-repeat

    .navBar
        float: right

        span
            margin: 0 0 0 15px

section[class^='lt-']
    margin: 10px 30px
    min-height: calc(100% - 107px)

    img
        width: 100%
        max-width 500px
        height: auto
        display: block

    h2
        font-size: 16px

footer[class^='lt-']
    text-align: center
    background: #f7f7f7
    border-top: 1px solid #eee
    height: 40px
    line-height: 40px
    