
html, body, #app
    height: 100%

.fadeIn
    animation: fadeIn 0.8s both

// 进出场动画
// 飞入
.slide-appear
    // transform: translate3D(100%, 0, 0);
    opacity: 0
    transition: all 400ms linear

    &.slide-appear-active
        opacity: 1 // transform: translate3D(0, 0, 0);

.slide-enter
    // transform: translate3D(100%, 0, 0);
    opacity: 0
    transition: all 400ms linear

    &.slide-enter-active
        opacity: 1 // transform: translate3D(0, 0, 0);

// 向左滑出
.slide-exit
    position: absolute
    left: 0
    top: 0
    opacity: 1
    transform: translate3D(0, 0, 0)
    transition: all 350ms linear

    &.slide-exit-active
        opacity: 0.01
        transform: translate3D(-100%, 0, 0)

.lt-header
    clear: both
    padding: 10px 30px
    box-shadow: 0 1px 4px #eee

    &.lt-header-admin
        .main
            max-width: none !important

    .main
        max-width: 840px
        margin: 0 auto

    .logo
        float: left
        text-indent: -999em
        width: 104px
        height: 26px
        background: url('../img/logo.png') no-repeat

    .navBar
        float: right

        span
            margin: 0 0 0 15px

.lt-main
    margin: 10px auto
    padding: 10px 30px 0
    max-width: 900px
    min-height: calc(100% - 107px)

    img
        width: 100%
        max-width: 500px
        height: auto
        display: block

    h2
        font-size: 20px
        margin: 0

        a
            color: #262626
            cursor: pointer

            &:hover
                color: #1890ff

    .time
        padding: 5px 0 20px
        color: #999

        span:last-child
            padding: 0 0 0 20px

    pre
        background: #f9f9f9
        padding: 10px
        margin: 10px 0
        overflow: auto

    p
        padding: 0 0 10px
        text-indent: 2em

.lt-main-admin
    height: calc(100% - 107px)

.lt-footer
    text-align: center
    border-top: 1px solid #eee
    height: 40px
    line-height: 40px

    a
        color: #444
