.navbar
    position: fixed
    bottom: 0
    left: 0
    right: 0
    display: flex
    height: 95px
    border-top: 2px solid #d7d7d7
    background: #fff
    li
        flex: 1
        text-align: center