.pagination
    width: 100%
    margin: 10px 0
    position: relative
    min-height: 40px
    clear: both
    overflow: hidden

    .ant-pagination
        float: left
        position: relative
        left: 50%

    li 
        float: left
        position: relative
        right: 50%
        
        a
            height: 22px
            width: 22px
            margin: 0 !important
            float: left

    .ant-pagination-jump-prev,.ant-pagination-jump-next
        position: relative
        width: 22px !important
        min-width: 22px

        &:after
            float: left

        .ant-pagination-item-link
            position: absolute
            top: 0
            left: 0
            width: 100%
            z-index: 1

