.el-pagination
    float: right
    padding: 20px 0
    
    .el-pager
        li
            // margin: 0 0 0 10px
            // border: 1px solid #f1eff0
            // background: #f1eff0
            // border-radius: 5px
            &.active
                background: #e22828
                border-color: @background
    .el-pagination__sizes
        margin-left: 10px
    .el-pagination__total
        margin: 0