.treeGrid
    .header
        background: #eef1f6
        height: 40px
        line-height: @height
        border: 1px solid #dfe6ec
        clear: both

    .el-tree
        border-bottom: 0 none
        border-top: 0 none
        .el-tree-node__content
            height: 40px
            line-height: 40px
            border-bottom: 1px solid #dfe6ec
        .diyWrap
            clear: both
        .el-tree__empty-block
            border-bottom: 1px solid #dfe6ec

    .colWrap
        float: right
        width: 900px
        span
            display: inline-block
            padding: 0 18px
            border-left: 1px solid #dfe6ec
            box-sizing: border-box