.page-appProductEdit
    .block
        .block-header
            height: 30px;
            padding-left: 10px;
            color: #141414;
            border-left: 2px solid #feb630;
            span
                line-height: 30px;
