.page-signIn
    padding: 0 25px
    height: 100%
    position: relative
    
    header
        font-size: 24px
        text-align: center
        font-weight: bold
        padding: 100px 0 80px

    .form
        border: 1px solid #dbdbdb
        border-radius: 3px
        overflow: hidden
        .ui-input
            height: 48px
            line-height: @height
            box-sizing: border-box
            width: 100%
            background: none
            padding: 0 10px
            font-size: 15px
            &:last-child
                border-top: 1px solid #dbdbdb
        .icon-inputClose
            position: absolute
            right: 10px
            top: 15px
            font-size: 20px
            color: #ccc

    .link
        padding: 20px 0
        font-size: 14px
        a
            &:first-child
                color: #666
                float: left
            &:last-child
                color: #b86c52
                float: right
    footer
        font-size: 12px
        text-align: center
        width: 100%
        position: absolute
        left: 0
        right: 0
        bottom: 20px
        color: #999
