.page-post

    h2
        font-size: 20px !important
        padding: 0 0 10px

    .time
        padding: 0 0 20px

    .articleMain

        pre
            background: #f9f9f9
            padding: 10px
            margin: 10px 0
        p 
            padding: 0 0 10px
            text-indent: 2em