.page-login

    .main
        background: url(../img/login-bg.jpg) no-repeat
        height: 560px

        .wrap
            position: relative
            max-width: 1200px
            min-width: 600px
            margin: 0 auto

            .form
                width: 374px
                padding: 60px 36px
                background: #fff
                border-radius: 10px
                position: absolute
                top: 104px
                right: 0

                .ant-row
                    margin-bottom: 38px

                    .ant-form-explain
                        padding: 10px 0 0

                .ant-input-lg
                    height: 46px
                    line-height: @height
                    font-size: 16px
                    padding-left: 40px

    .footer
        text-align: center
        padding: 20px 0

    .login-forgot
        float: right
        margin: 0 0 10px

    .login-button
        height: 46px
        width: 100%
        margin: 0
        font-size: 20px
        box-shadow: #5ea9ff 0 0 16px
        background: linear-gradient(to right, #67afff, #0a76fd)