.infoTable
    .content
        display: inline-block;
        .table-thead,
        .table-tbody
            .table-row
                .table-th,
                .table-td
                    &:nth-of-type(1)
                        width: 170px;
                    
                    &:nth-of-type(2)
                        width: 160px;

                    &:nth-of-type(3)
                        width: 160px;
                    
                    &:nth-of-type(4)
                        width: 150px;
                    
                    &:nth-of-type(5)
                        width: 150px;

                    &:nth-of-type(6)
                        width: 150px;

                    &:nth-of-type(7)
                        width: 150px;

        .table-thead
            .table-row
                border: 1px solid #ddd;
                height: 2.8em;
                .table-th
                    display: inline-block;
                    background-color: #ddd;
                    font-weight: bold;
                    text-align: center;
                    line-height: 1.4em;

                    &:nth-last-of-type(n+2)
                        border-right: 2px solid #888;

                    &:nth-of-type(n+6)
                        line-height: 2.8em;
                        vertical-align: top;

        .table-tbody
            .table-row
                border: 1px solid #ddd;
                margin-top: 10px;
                .td-caption
                    background-color: #ddd;
                    padding: 3px 30px;
                    width: 100%;
                    div
                        display: inline-block;

                    .code,
                    .person
                        padding-left: 50px;
                
                .table-td
                    float: left;
                    text-align: center;
                    padding: 5px 0px;
                    height: 52px;
                    display: table;
                    &>div
                        display: table-cell;
                        vertical-align: middle;

                    &:nth-last-of-type(n+2)
                        border-right: 1px solid #ddd;

                    .handle
                        height: 21px;;

                clear(both)

    .pagination
        margin: 10px 0 0 800px;